@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
   color: rgb(14, 116, 144)
}

.banner-image{
   background-image: url('https://i.ibb.co/ZW0HZVc/Banner-min.jpg');
}

.banner-image, .bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}

.bg-image{
   background-color: rgba(0, 0, 0, 0.6);
}
